.header-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 48px;
  font-weight: 500;
}

.header-list__item:not(:last-child) {
  margin-right: 30px;
}
.text-list__item {
  width: 140px;
  display: block;
}
.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 316px;
  height: 56px;
  border: none;
  color: white;
  background: #d70000;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  cursor: pointer;
}

.symbol-button {
  display: block;
  width: 40px;
  height: 30px;
  background-image: url("../../../images/header/tape.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 600px) {
  .header-list {
    display: none;
  }
  .button {
    display: none;
  }
  .arrow {
    display: none;
  }
}
